@font-face {
    font-family: 'space_monoitalic';
    src: url('../assets/fonts/SpaceMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'space_monoregular';
    src: url('../assets/fonts/SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}