//////////////////////////////// LIGHTBOX CSS ///////////////////////////////////////////
/// ////////////////////////////////////////////////////////////////////////////////////

.fancybox-custom-layout .fancybox-bg {
    background: rgba(0, 0, 0, 0.8);
}

//////////////////////////// FLECHES //////////////////////////////////////
/// //////////////////////////////////////////////////////////////////////

.fancybox-button--arrow_right,
.fancybox-button--arrow_left {
  visibility: visible !important; 
  opacity: 1 !important;
}


.fancybox-button--arrow_right:hover,
.fancybox-button--arrow_left:hover {
  opacity: 1 !important;
}


.fancybox-button--arrow_right:after,
.fancybox-button--arrow_left:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff; /* Couleur du texte */
  font-family: "space_monoregular"; 
  font-size: 14px;
}

.fancybox-button--arrow_right:after {
  content: "Suivante  \2192";
  left: -100px; /* Ajustez la taille pour décaler le texte à gauche de la flèche de droite */
}

.fancybox-button--arrow_left:after {
  content: "\2190  Précédente";
  right: -100px; /* Ajustez la taille pour décaler le texte à droite de la flèche de gauche */
}

@media (max-width: 765px) { 
  .fancybox-button--arrow_right:after {
    content: "\2192";
    left: 10px; /* Ajustez la taille pour décaler la flèche de droite */
  }

  .fancybox-button--arrow_left:after {
    content: "\2190";
    right: 10px; /* Ajustez la taille pour décaler la flèche de gauche */
  }
}

// supprime les boutons de navigation d'origine
.fancybox-navigation .fancybox-button {
  height: 0px !important;
} 


//////////////////////////////// TITRES LIGHTBOX /////////////////////////////////////////
/// /////////////////////////////////////////////////////////////////////////////////////

// CSS pour placer caption body sous l'image avec mots alignés aux coins 

.fancybox-caption__body {
  display: inline;
  text-transform: uppercase;
  font-family: "space_monoregular";
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-top: 10px; /* Ajustez la marge supérieure selon votre mise en page */
}

// CSS pour différencier les mots 

.fancybox-caption__body h2 {
  margin-right: auto; /* Pour aligner le premier mot à gauche */
}

.fancybox-caption__body p {
  margin-left: auto; /* Pour aligner le deuxième mot à droite */
}

 

////////////////////////////////// transition de la lightbox ///////////////////////////////////////
/// ////////////////////////////////////////////////////////////////////////////////////////////////

.fancybox-slide {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.fancybox-slide--current {
  opacity: 1;
}



// transition de la lightbox
.fancybox-slide {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.fancybox-slide--current {
  opacity: 1;
}